<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>461693918316-ujdt37nmd3t9f48qgaa2vl5nevi3hfg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461693918316-ujdt37nmd3t9f48qgaa2vl5nevi3hfg8</string>
	<key>API_KEY</key>
	<string>AIzaSyAEwgheykBDvUe6dWlAJrPtz9TyT-YbEJk</string>
	<key>GCM_SENDER_ID</key>
	<string>461693918316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prat14k.UberDemoDriver</string>
	<key>PROJECT_ID</key>
	<string>uberappdemo-df7c9</string>
	<key>STORAGE_BUCKET</key>
	<string>uberappdemo-df7c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461693918316:ios:9c2692100a8808e3</string>
	<key>DATABASE_URL</key>
	<string>https://uberappdemo-df7c9.firebaseio.com</string>
</dict>
</plist>